.idea
*.iml
src/main/application/build
src/main/application/ext
src/main/application/sass/example/bootstrap.js
src/main/application/sass/example/example.css
src/main/application/bootstrap.css
src/main/application/bootstrap.js
src/main/application/bootstrap.json
src/main/resources/rebel.xml