@if $include-button-cell-ui {
    @include extjs-button-ui(
        $ui: 'cell-small',

        $border-radius: $button-cell-border-radius,
        $border-width: $button-cell-border-width,

        $border-color: $button-cell-border-color,
        $border-color-over: $button-cell-border-color-over,
        $border-color-focus: $button-cell-border-color-focus,
        $border-color-pressed: $button-cell-border-color-pressed,
        $border-color-disabled: $button-cell-border-color-disabled,

        $padding: $button-cell-padding,
        $text-padding: $button-cell-text-padding,

        $background-color: $button-cell-background-color,
        $background-color-over: $button-cell-background-color-over,
        $background-color-focus: $button-cell-background-color-focus,
        $background-color-pressed: $button-cell-background-color-pressed,
        $background-color-disabled: $button-cell-background-color-disabled,

        $background-gradient: $button-cell-background-gradient,
        $background-gradient-over: $button-cell-background-gradient-over,
        $background-gradient-focus: $button-cell-background-gradient-focus,
        $background-gradient-pressed: $button-cell-background-gradient-pressed,
        $background-gradient-disabled: $button-cell-background-gradient-disabled,

        $color: $button-cell-color,
        $color-over: $button-cell-color-over,
        $color-focus: $button-cell-color-focus,
        $color-pressed: $button-cell-color-pressed,
        $color-disabled: $button-cell-color-disabled,

        $font-size: $button-cell-font-size,
        $font-size-over: $button-cell-font-size-over,
        $font-size-focus: $button-cell-font-size-focus,
        $font-size-pressed: $button-cell-font-size-pressed,
        $font-size-disabled: $button-cell-font-size-disabled,

        $font-weight: $button-cell-font-weight,
        $font-weight-over: $button-cell-font-weight-over,
        $font-weight-focus: $button-cell-font-weight-focus,
        $font-weight-pressed: $button-cell-font-weight-pressed,
        $font-weight-disabled: $button-cell-font-weight-disabled,

        $font-family: $button-cell-font-family,
        $font-family-over: $button-cell-font-family-over,
        $font-family-focus: $button-cell-font-family-focus,
        $font-family-pressed: $button-cell-font-family-pressed,
        $font-family-disabled: $button-cell-font-family-disabled,

        $icon-size: $button-cell-icon-size,
        $glyph-color: $button-cell-glyph-color,
        $glyph-opacity: $button-cell-glyph-opacity,
        $arrow-width: $button-cell-arrow-width,
        $arrow-height: $button-cell-arrow-height,
        $split-width: $button-cell-split-width,
        $split-height: $button-cell-split-height,
        $split-spacing-right: $button-cell-split-spacing-right,
        $split-spacing-bottom: $button-cell-split-spacing-bottom,
        $opacity-disabled: $button-opacity-disabled,
        $inner-opacity-disabled: $button-inner-opacity-disabled
    );
}